@use 'abstracts/variables';
@use 'abstracts/mixins';
@use 'base/reset';
@use 'base/animations';
@use 'components/botones';
@use 'layout/header'; 
@use 'layout/hero';
@use 'layout/buscador';
@use 'layout/footer';
@use 'pages/servicios';
@use 'pages/ofertas';
@use 'pages/acerca-de';
@use 'pages/contacto';
@use 'layout/categorias';
@use 'layout/agente'