@use '../abstracts/variables';
@use '../abstracts/mixins';

.contacto-page {
    section {
        .row {
            @include mixins.dispositivos(mobile) {
                text-align: center;
                justify-content: center;
            }
        }
    }

    .info-contacto-list {
        list-style: none;
        padding: 0;
        display: inline-block;
        text-align: left;

        @include mixins.dispositivos(mobile) {
            margin: 0 auto;
            display: table;
        }

        li {
            margin-bottom: 1.5rem;
            font-size: 1.1rem;
            
            strong {
                display: block;
                color: variables.$color-primario;
                margin-bottom: 0.2rem;
            }
        }
    }

    form {
        max-width: 500px;
        margin: 0 auto;
        
        .input-aire {
            width: 100%;
            padding: 0.8rem;
            border: 1px solid #ced4da;
            border-radius: 8px;
            margin-bottom: 1rem;
        }
    }
}