@use '../abstracts/variables';
@use '../abstracts/mixins';

.navbar {
    background-color: variables.$color-secundario;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #eeeeee;
    
    @include mixins.flex-center($justify: space-between);

    @include mixins.dispositivos(tablet) {
        padding: 1rem;
    }

    @include mixins.dispositivos(mobile) {
        flex-direction: column;
        gap: 1rem;
    }

    .navbar-logo {
        font-size: 1.5rem;
        font-weight: bold;
        color: variables.$color-primario;
        text-decoration: none;
    }

    .navbar-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        @include mixins.flex-center;
        gap: 20px;

        @include mixins.dispositivos(mobile) {
            gap: 15px;
            font-size: 0.9rem;
        }

        li a {
            color: variables.$color-primario;
            text-decoration: none;
            font-weight: 500;
            transition: color 0.3s ease;

            &:hover {
                color: variables.$color-texto-suave;
            }
        }
    }
}