@use '../abstracts/variables';
@use '../abstracts/mixins';

.navbar {
    width: 100%;
    background-color: variables.$color-secundario;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #eeeeee;

    .navbar-brand {
        font-size: 1.5rem;
        font-weight: bold;
        color: variables.$color-primario;
        text-decoration: none;
    }

    .navbar-collapse {
        @include mixins.dispositivos(mobile) {
            flex-basis: 100%;
            margin-top: 1rem;
        }
    }

    .navbar-nav {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 20px;

        @include mixins.dispositivos(mobile) {
            flex-direction: column;
            align-items: center;
            gap: 15px;
            width: 100%;
            padding: 1rem 0;
        }

        .nav-link {
            color: variables.$color-primario;
            text-decoration: none;
            font-weight: 500;
            transition: color 0.3s ease;
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: variables.$color-primario;
                transition: width 0.3s ease;
            }

            &:hover::after, 
            &.active::after {
                width: 100%;
            }

            &.active {
                font-weight: 800;
            }
        }
    }
}