@use '../abstracts/variables';

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: variables.$fuente-principal; 
    background-color: variables.$color-fondo;
    color: variables.$color-primario; 
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
    font-family: variables.$fuente-principal !important;
    font-weight: 800 !important;
    margin: 0;
    padding: 0;
    color: variables.$color-primario;
}

p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}