@use '../abstracts/variables'; 

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: variables.$fuente-principal; 
    background-color: variables.$color-fondo;
    color: variables.$color-primario; 
    line-height: 1.6;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}